@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	text-decoration: none;
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Poppins", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	background-color: #ffffff;
	color: #22343d;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 1170px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
}

/* ========== HEADER ========== */
.header {
	display: flex;
	align-items: center;
	padding-top: 19px;
	padding-bottom: 19px;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar__brand {
	display: flex;
	align-items: center;
	margin-right: 12px;
}

.navbar__brand--img {
	flex-shrink: 0;
}

.navbar__brand .navbar__brand--text {
	font-size: 30px;
	font-weight: 700;
	line-height: 28px;
	color: #173a56;
	margin-left: 16px;
	font-family: "Poppins", sans-serif;
}

.navbar {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.navbar__list {
	display: flex;
	align-items: center;
	font-size: 16px;
}

.navbar__item {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	line-height: 28px;
	margin-left: 24px;
}

.navbar__item:first-of-type {
	margin-left: 0;
}

.navbar__link {
	color: #22343d;
	transition: 0.2s linear;
}

.navbar__link:hover {
	color: #02897a;
}

.navbar__link.active {
	font-weight: 600;
}

.navbar__buttons--container {
	display: flex;
	align-items: center;
}

.navbar__buttons--container .btn {
	margin-left: 24px;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	font-family: "Poppins", sans-serif;
	padding: 10px 24px;
	border-radius: 4px;
	cursor: pointer;
}

.navbar__buttons--container .navbar__buttons--outline {
	background-color: #ffffff;
	color: #173a56;
	border: 1px solid #bcd0e5;
	transition: 0.2s ease-in-out;
}

.navbar__buttons--container .navbar__buttons--outline:hover {
	background-color: #bcd0e5;
	border: 1px solid #bcd0e5;
}

.navbar__buttons--container .navbar__buttons--success {
	color: #ffffff;
	background-color: #02897a;
	border: 1px solid transparent;
	transition: 0.2s ease-in-out;
}

.navbar__buttons--container .navbar__buttons--success:hover {
	background-color: #ffffff;
	color: #173a56;
	border: 1px solid #02897a;
}

/* DARK - LIGHT MODE */
.navbar__dark-light-label {
	margin-left: 24px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch .navbar__dark-light-input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: #ffffff;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.navbar__dark-light-input:checked + .slider {
	background-color: #02897a;
}

.navbar__dark-light-input:focus + .slider {
	box-shadow: 0 0 1px #02897a;
}

.navbar__dark-light-input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* TOGGLE BUTTON */
.toggle-button {
	margin-left: auto;
	display: none;
}

.toggle-btn {
	font-size: 24px;
	cursor: pointer;
}

.toggle-btn:hover,
.toggle-btn:active {
	color: #02897a;
}

.navbar__close--btn {
	font-size: 24px;
	cursor: pointer;
	display: none;
}

.fa-xmark {
	position: absolute;
	font-size: 24px;
	top: 30px;
	right: 30px;
	color: #02897a;
}

/* ========== MAIN ========== */
.main {
	display: flex;
	align-items: center;
	padding-top: 25px;
	padding-bottom: 114px;
}

.main__info {
	display: flex;
	flex-direction: column;
}

.main__info--title {
	width: 458px;
	font-size: 40px;
	font-weight: 700;
	font-family: "Poppins", sans-serif;
	line-height: 60px;
	margin-bottom: 18px;
}

.main__info--description {
	width: 458px;
	font-size: 18px;
	font-weight: 400;
	font-family: "Poppins", sans-serif;
	line-height: 28px;
	margin-bottom: 45px;
}

.main__info--button--link {
	display: flex;
	align-items: center;
}

.main__info--button {
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	padding: 15px 41px;
	color: #ffffff;
	background-color: #02897a;
	border-radius: 4px;
}

.main__info--link {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.fa-play {
	color: #02897a;
}

.main__info--link-play {
	font-size: 16px;
	color: #02897a;
	font-weight: 600;
	line-height: 24px;
	text-decoration-line: underline;
	margin-left: 8px;
}

.main__img {
	margin-left: auto;
	flex-shrink: 0;
}

.main__img img {
	width: 600px;
	height: auto;
}

/* ========== PRODUCT ========== */
.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 130px;
}

.product__title {
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin-bottom: 66px;
}

.product__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 46px;
}

.product__card {
	display: flex;
	flex-direction: column;
}

.products__card--img {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin-bottom: 30px;
}

.card-green-img {
	background-color: #02897a;
}

.card-blue-img {
	background-color: #4d8dff;
}

.card-purple-img {
	background-color: #740a76;
}

.card-red-img {
	background-color: #f03e3d;
}

.products__card--title {
	font-size: 22px;
	color: #22343d;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 13px;
}

.products__card--description {
	width: 240px;
	font-size: 16px;
	color: #22343d;
	font-weight: 400;
	line-height: 1.6;
}

.product__more--btn {
	font-size: 16px;
	font-weight: 700;
	line-height: 1.5;
	color: #ffffff;
	padding: 15px 34px;
	margin-top: 34px;
	border-radius: 4px;
	background-color: #02897a;
	cursor: pointer;
}

/* ========== MANAGEMENT ========== */
.management__wrapper {
	display: flex;
	align-items: center;
	padding-top: 20px;
	margin-bottom: 130px;
}

.management__wrapper--info {
	display: flex;
	flex-direction: column;
	margin-right: 84px;
}

.management__wrapper--info-main-title {
	font-size: 16px;
	color: #22343d;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 6px;
}

.management__wrapper--info-title {
	font-size: 32px;
	color: #22343d;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 23px;
}

.management__wrapper--info-description {
	font-size: 16px;
	color: #22343d;
	line-height: 1.6;
	font-weight: 400;
	margin-bottom: 30px;
}

.desc-two {
	margin-bottom: 25px;
}

.desc-three {
	margin-bottom: 0;
}

.management__wrapper--info-subtitle {
	font-size: 16px;
	color: #22343d;
	font-weight: 600;
	line-height: 1.6;
	margin-bottom: 12px;
}

.management__wrapper--img {
	flex-shrink: 0;
	margin-left: auto;
}

/* ========== CUSROMER SUPPORT ========== */
.customer__support {
	display: flex;
	align-items: center;
	padding-top: 20px;
	margin-bottom: 130px;
}

.customer__support--img {
	flex-shrink: 0;
	margin-right: auto;
}

.customer__support--img img {
	width: 543px;
	height: auto;
}

.customer__support--info {
	display: flex;
	flex-direction: column;
	margin-left: 94px;
}

.customer__support--info-main-title {
	font-size: 16px;
	color: #22343d;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 8px;
}

.customer__support--info-title {
	font-size: 32px;
	color: #22343d;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 23px;
}

.customerer__support--info-subdescription {
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #22343d;
	margin-bottom: 30px;
}

.customer__support--info-img_text {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.customer__support--info-img_text:last-of-type {
	margin-bottom: 0;
}

.customer__support--info-img_text--img {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 14px;
	flex-shrink: 0;
}

.customer__support--info-img_text--img img {
	padding: 12px 10px;
}

.support__orange {
	background-color: #ff9900;
}

.support__red {
	background-color: #f03e3d;
}

.support__blue {
	background-color: #4d8dff;
}

.customer__support--info-img_text--text {
	margin-left: 30px;
}

/* ========== RESPONSIVE ========== */
@media (max-width: 1170px) {
	/* CUSROMER SUPPORT */
	.customer__support--info {
		margin-left: 80px;
	}
}

@media (max-width: 1150px) {
	/* PRODUCT */
	.product__cards {
		column-gap: 35px;
	}

	/* CUSROMER SUPPORT */
	.customer__support--img img {
		width: 450px;
	}
}

@media (max-width: 1120px) {
	/* MAIN */
	.main__img img {
		width: 550px;
	}

	/* PRODUCT */
	.product__cards {
		column-gap: 30px;
	}
}

@media (max-width: 1100px) {
	/* PRODUCT */
	.product__cards {
		width: 100%;
		column-gap: 25px;
	}
}

@media (max-width: 1070px) {
	/* MAIN */
	.main__img img {
		width: 500px;
	}

	/* MANAGEMENT */
	.management__wrapper--info {
		margin-right: 70px;
	}
}

@media (max-width: 1055px) {
	/* PRODUCT */
	.product__cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 46px;
	}

	.product__card {
		width: 100%;
	}
}

@media (max-width: 1020px) {
	/* MAIN */
	.main__img img {
		width: 450px;
	}

	/* CUSROMER SUPPORT */
	.customer__support--info {
		margin-left: 50px;
	}

	.customer__support--img img {
		width: 510px;
	}
}

@media (max-width: 1000px) {
	/* HEADER */
	.navbar__brand .navbar__brand--text {
		font-size: 25px;
	}

	.navbar__list {
		font-size: 15px;
	}

	.navbar__buttons--container .btn {
		font-size: 15px;
		padding: 8px 20px;
	}

	.switch {
		width: 60px;
		height: 34px;
	}

	/* MANAGEMENT */
	.management__wrapper--img img {
		width: 500px;
		height: auto;
	}

	/* CUSROMER SUPPORT */
	.customer__support--img img {
		width: 380px;
	}
}

@media (max-width: 970px) {
	/* MAIN */
	.main {
		flex-direction: column-reverse;
		justify-content: center;
	}

	.main__info {
		align-items: center;
		margin-top: 40px;
		width: 90%;
	}

	.main__info--title,
	.main__info--description,
	.main__info--button--link {
		width: 100%;
	}

	.main__img {
		margin-left: 0;
	}

	.main__img img {
		width: 500px;
	}
}

@media (max-width: 935px) {
	/* HEADER */
	.navbar {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: -100%;
		left: 0;
		transition: 0.3s linear;
		width: 100%;
		height: 100vh;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
		margin-right: 0;
		background-color: rgba(2, 137, 122, 0.2);
		backdrop-filter: blur(20px);
	}

	.navbar-open {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		margin-right: 0;
		background-color: rgba(2, 137, 122, 0.2);
		backdrop-filter: blur(20px);
	}

	.navbar__list {
		flex-direction: column;
		padding: 0;
	}

	.navbar__item {
		margin: 0;
		margin-bottom: 30px;
	}

	.navbar__buttons--container {
		flex-direction: column;
	}

	.navbar__buttons--container .btn {
		margin: 0;
		margin-bottom: 30px;
	}

	.navbar__dark-light-label {
		margin-left: 0;
	}

	.navbar__buttons--container .navbar__buttons--outline,
	.navbar__buttons--container .navbar__buttons--outline:hover {
		border: 1px solid #02897a;
	}

	.toggle-button {
		display: block;
	}

	.navbar__close--btn {
		display: block;
	}

	/* MANAGEMENT */
	.management__wrapper--img img {
		width: 400px;
		height: auto;
	}

	.customer__support--info {
		width: 100%;
		margin-left: 35px;
	}
}

@media (max-width: 900px) {
	.customer__support {
		flex-direction: column;
	}

	.customer__support--img {
		margin-right: 0;
		margin-bottom: 50px;
	}

	.customer__support--info {
		margin-left: 0;
	}
}

@media (max-width: 850px) {
	/* MAIN */
	.main__info {
		width: 100%;
	}

	.main__img img {
		width: 450px;
	}

	/* MANAGEMENT */
	.management__wrapper {
		flex-direction: column-reverse;
	}

	.management__wrapper--img {
		margin-left: 0;
		margin-bottom: 50px;
	}
}

@media (max-width: 700px) {
	/* MAIN */
	.main__info--title {
		font-size: 35px;
		line-height: 1.5;
	}

	.main__info--description {
		font-size: 16px;
		line-height: 1.6;
	}

	.main__img img {
		width: 350px;
	}
}

@media (max-width: 590px) {
	/* PRODUCT */
	.product__cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 40px;
	}
}

@media (max-width: 580px) {
	/* PRODUCT */
	.product__cards {
		grid-template-columns: repeat(2, 1fr);
		gap: 35px;
	}
}

@media (max-width: 570px) {
	/* PRODUCT */
	.product__cards {
		grid-template-columns: repeat(1, 1fr);
		gap: 46px;
	}

	.management__wrapper--info-main-title,
	.management__wrapper--info-subtitle,
	.management__wrapper--info-description {
		font-size: 15px;
	}

	.management__wrapper--info-title {
		font-size: 25px;
	}

	.management__wrapper--img img {
		width: 300px;
	}

	/* CUSROMER SUPPORT */
	.customer__support--img img {
		width: 300px;
	}

	.customerer__support--info-subdescription,
	.customer__support--info-main-title,
	.customer__support--info-img_text--text {
		font-size: 15px;
	}

	.customer__support--info-title {
		font-size: 25px;
	}
}

@media (max-width: 500px) {
	.main__info--title {
		font-size: 28px;
	}

	.main__info--description {
		font-size: 15px;
	}

	.main__img img {
		width: 250px;
	}

	.main__info--button {
		font-size: 14px;
		line-height: 1.5;
		padding: 12px 30px;
	}

	.main__info--link-play {
		font-size: 14px;
		line-height: 1.5;
		margin-left: 5px;
	}

	/* MANAGEMENT */
	.management__wrapper--img img {
		width: 250px;
	}

	/* CUSTOMER SUPPORT */
	.customer__support--info-img_text--text {
		margin-left: 10px;
	}
}

@media (max-width: 370px) {
	.main__info--button {
		padding: 12px 24px;
	}

	.main__info--link {
		margin-left: 15px;
	}

	.main__img img {
		width: 200px;
	}

	.main__info--button {
		font-size: 12px;
		padding: 10px 20px;
	}

	.main__info--link-play {
		font-size: 12px;
	}
}

@media (max-width: 310px) {
	.main__info--button {
		font-size: 11px;
		padding: 8px 18px;
	}

	.main__info--link-play {
		font-size: 11px;
	}
}
