@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */

html {
	box-sizing: border-box;
	height: 100%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: "Poppins", "Arial", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	background-color: #ffffff;
	color: #22343d;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}
